<launch>

<arg name="aditional_info" default="true"/>

  <arg name="model" />
  <param name="robot_description" textfile="$(find ir_session2_e2_1)/urdf/IR_2.urdf" />
  <param name="use_gui" value="true"/>
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find ir_session2_e2_1)/rviz/urdf.rviz" required="true" />

<include file="$(find ir_session2_e2_1)/launch/usb_cam-test.launch"/>

<group if="$(arg additional_info)" ns="materuvic">
  <param name="year" value="2019" />
  <param name="alumna" value="Bet" />
</group>




</launch>


