<launch>

<arg name="aditional_info" default="true"/>

<arg name="model" default="$(find IR_Session2_E2_1)/urdf/IR_2.urdf"/>
<arg name="gui" default="true" />
<arg name="rvizconfig" default="$(find IR_Session2_E2_1)/rviz/urdf.rviz" />


<group if="$(arg additional_info)" ns="materuvic">
  <param name="year" value="2019" />
  <param name="alumna" value="Bet" />
</group>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

</launch>


